@use '../utils/breakpoints';
@use '../utils/variables';

.icon {
	width: 2.4rem;
	transition-property: fill, stroke, transform;
	transition-duration: variables.$default-transition-duration;

	@include breakpoints.large-mobile {
		width: 1.6rem;
	}
}
