@use '../utils/variables';
@use '../utils/breakpoints';

.text-default {
	font-size: 1.8rem;
	line-height: 124%;
	font-weight: 500;

	@include breakpoints.large-mobile {
		font-size: 1.4rem;
	}
}
.text-16 {
	@extend .text-default;
	font-size: 1.6rem;
	@include breakpoints.large-mobile {
		font-size: 1.2rem;
	}
}
