@use '../utils/variables';
@use '../utils/breakpoints';
@use '../utils/mixins';

.main {
	padding-top: 3.2rem;
	@include mixins.spacing;
	@include breakpoints.large-mobile {
		padding-top: 1.6rem;
	}
}
.hero {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	@include breakpoints.large-mobile {
		gap: 1.6rem;
	}
	&__container {
		background: url('@/assets/images/contacts-hero-bg.png');
		background-size: cover;
		background-position: center;
		position: relative;
		aspect-ratio: 1530/200;
		overflow: hidden;
		border-radius: 2.4rem;
		padding-left: 6rem;
		display: flex;
		align-items: center;
		@include breakpoints.large-mobile {
			padding-left: 2.4rem;
			border-radius: 0.8rem;
			aspect-ratio: 343/110;
		}
	}
	&__image {
		position: absolute;
		right: 8.6%;
		height: auto;
		width: max(35%, 133px);
		top: -24%;
		@include breakpoints.large-mobile {
			top: 8.1%;
			right: 4.4%;
		}
	}
	&__title {
		color: variables.$white;
		font-family: variables.$font-cormorant;
		font-weight: 400;
		font-size: 5.2rem;
		line-height: 96%;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		@include breakpoints.large-mobile {
			font-size: 3.2rem;
			line-height: 80%;
		}
	}
}
.catalog {
	display: grid;
	grid-template-areas:
		'top top'
		'sidebar products'
		'sidebar products'
		'. pagination';
	row-gap: 2.4rem;
	column-gap: 6rem;
	@include breakpoints.large-mobile {
		grid-template-areas:
			'top'
			'products'
			'pagination';
	}
	&__products {
		grid-area: products;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
		gap: 2rem;
		@include breakpoints.large-mobile {
			gap: 0.8rem;
		}
	}
	&__sort {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		@include breakpoints.large-mobile {
			font-size: 1.4rem;
		}
		svg {
			transform: rotate(90deg);
		}
	}
	&__filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		&-button {
			font-weight: 700;
		}
		&-left {
			display: flex;
			align-items: center;
			gap: 8px;

			@include breakpoints.large-mobile {
				font-size: 1.4rem;
			}
		}
	}
	&__top {
		grid-area: top;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 1.6rem;
		border-bottom: 1px solid variables.$grey-1;
	}
	&__checkbox {
		appearance: none;
		width: 20px;
		aspect-ratio: 1;
		background-color: variables.$grey-1;
		border-radius: 4px;
		transition-property: background-color;
		transition-duration: variables.$default-transition-duration;
		position: relative;
		&::after {
			content: url('@/assets/check.svg');
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
		}
		&:checked {
			background-color: variables.$green;
		}
	}
	&__categories {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		display: flex;
		flex-direction: column;
		gap: 8px;
		li {
			display: flex;
		}
		&-item {
			background-color: variables.$grey-2;
			padding: 1.6rem;
			border-radius: 0.8rem;
			flex: 1;
			display: flex;
			justify-content: space-between;
			&.active {
				background-color: variables.$green;
				color: variables.$white;
			}
		}
	}
	&__row {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		font-weight: 500;
		font-size: 1.8rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		&-item {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&_left {
				display: flex;
				gap: 1.6rem;
			}
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			& > * {
				display: flex;
			}
		}
		&-top {
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-reset {
			font-size: 1.5rem;
			gap: 2px;
			display: flex;
			align-items: center;
			background-color: #ffe3e3;
			color: #e14848;
			fill: #e14848;
			padding-block: 5px;
			padding-inline: 8px;
			border-radius: 6rem;
		}
	}
	&__sidebar {
		grid-area: sidebar;
		display: flex;
		flex-direction: column;
		gap: 3.6rem;
		@include breakpoints.large-mobile {
			display: none;
		}
	}
	.pagination {
		margin-top: 3.6rem;
		grid-area: pagination;
	}
}
