@use '../utils/variables';
@use '../utils/breakpoints';
@use '../utils/mixins';

.footer {
	align-content: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 25rem;
	gap: 5vw;
	aspect-ratio: 1920/800;
	@include mixins.spacing;
	@media screen and (max-width: 1024px) {
		padding-bottom: 10rem;
	}
	@media screen and (max-width: 835px) {
		padding-inline: 10rem;
		padding-bottom: 4rem;
	}
	@include breakpoints.large-mobile {
		aspect-ratio: initial;
		padding-top: 14.1rem;
		padding-bottom: 6.7rem;
		padding-inline: 4rem;
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	@include breakpoints.small-mobile {
		padding-inline: 16px;
	}
	&__image {
		aspect-ratio: 1920/1080;
		position: absolute;
		inset: 0;
		height: auto;
		z-index: -1;
		transform: translateY(-12%);
		@media screen and (max-width: 1024px) {
			height: auto;
			width: 130%;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@include breakpoints.large-mobile {
			overflow: hidden;
			aspect-ratio: 375/1028;
			top: 50%;
			width: 100%;
			height: auto;
		}
		@include breakpoints.small-mobile {
			top: 41%;
			height: 141%;
		}
	}
	&__email {
		font-family: variables.$font-cormorant;
		font-weight: 500;
		font-size: 3.8rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		@include breakpoints.large-mobile {
			font-size: 1.8rem;
		}
	}
	&__mobile-bottom {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}
	&__cta {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		&.footer--mobile {
			margin-bottom: 7rem;
		}
		&-label {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: #e28d4e;
		}
	}
	&__tel {
		font-family: variables.$font-cormorant;
		font-weight: 400;
		font-size: 6rem;
		line-height: 100%;
		letter-spacing: -0.02em;
		@include breakpoints.large-mobile {
			font-size: 4rem;
		}
	}
	&__nav {
		&.footer--mobile {
			margin-bottom: 6rem;
		}
		&-list {
			display: flex;
			justify-content: space-between;
		}
		&-item {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 100%;
			letter-spacing: -0.02em;
			@include breakpoints.large-mobile {
				font-size: 1.4rem;
			}
		}
	}
	a:hover {
		color: variables.$gold;
	}
	&__logo {
		display: flex;
		width: 20.2rem;
		&.footer--mobile {
			margin-bottom: 6rem;
		}
		@include breakpoints.large-mobile {
			width: 13.8rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 2.8rem;
		&.footer--mobile {
			margin-bottom: 5rem;
		}
		@include breakpoints.large-mobile {
			gap: 1.6rem;
		}
		&-row {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		&-text {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 100%;
			@include breakpoints.large-mobile {
				font-size: 1.6rem;
			}
		}
	}
	&__icon {
		width: 16px;
	}
	&__topright {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: max-content;
	}
	&__topleft {
		display: flex;
		flex-direction: column;
		gap: 4.5rem;
	}
	&__bottomright {
		display: flex;
		gap: 6rem;
		flex-direction: column;

		&-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;
			line-height: 100%;
			&.footer--mobile {
				flex-direction: column;
				align-items: flex-start;
				gap: 1.7rem;
			}
			&_text {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
	}
	&__bottomleft {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		gap: 3.2rem;
	}
	&__copyright {
		font-size: 14px;
		line-height: 100%;
	}
	&--mobile {
		@include breakpoints.min-large-mobile {
			display: none;
		}
	}
	&--desktop {
		@include breakpoints.large-mobile {
			display: none;
		}
	}
}
