@use '../utils/variables';
@use '../utils/breakpoints';

.menu {
	background-color: variables.$white;
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index: 50;
	opacity: 0;
	translate: 0 -20px;
	transition: opacity 0.3s, translate 0.3s;
	width: calc(100% + 6.4rem);
	transform: translate(-3.2rem, 0);
	border-bottom-left-radius: 2.4rem;
	border-bottom-right-radius: 2.4rem;
	max-height: 92vh;
	padding: 3.2rem;
	overflow-y: auto;
	pointer-events: none;
	&.active {
		pointer-events: all;
		opacity: 1;
		translate: 0 0;
	}
}
